
Carthage/*

Messages/Messages.xcodeproj/xcshareddata/*
CoreMessages/CoreMessages.xcodeproj/xcshareddata/*
CoreMessagesServer/CoreMessagesServer.xcodeproj/xcshareddata/*
MessagesServerDaemon/MessagesServerDaemon.xcodeproj/xcshareddata/*
