
Carthage/*

Messages/Messages.xcodeproj/xcuserdata/*
Messages.xcworkspace/xcuserdata/*
CoreMessages/CoreMessages.xcodeproj/xcuserdata/*
CoreMessagesServer/CoreMessagesServer.xcodeproj/xcuserdata/*
MessagesServerDaemon/MessagesServerDaemon.xcodeproj/xcuserdata/*
